body{
   background-color: rgb(6, 86, 6); 
   color: white;
    font-family: "Emilys Candy", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 1;
}
